html {
   background: url(backgroundWeather.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: url(backgroundWeather.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, #searchBar, #cityName, #commentMenu, #commentList, #submit, th, table, .addTodoButton {
	text-align: center;
}

ul {
  list-style-type: none;
}

li {
  font-family: inherit;
  font-size: 1em;
}